<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="header">
      <div class="logo-container">
        <div class="logo">
          <i class="fas fa-city"></i>
        </div>
        <div>
          <h1 class="system-name">SEMAT</h1>
          <div class="system-subtitle">
            Servicio Municipal de Administración Tributaria
          </div>
        </div>
      </div>
      <div class="header-actions">
        <i class="header-icon fas fa-bell"></i>
        <i class="header-icon fas fa-cog"></i>
        <i class="header-icon fas fa-question-circle"></i>
        <i class="header-icon fas fa-sign-out-alt" onclick="window.location.href='{% url 'logout' %}';"></i>
      </div>
    </header>
  </body>
</html>
